*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: black;
}

.calculator{
    width: 100%;
    min-height: 90vh;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    max-width: 400px;
    margin:30px auto;
    padding: 20px;
    gap: 9px;
    border-radius: 8px;
}

.calculator .output{
    background-color: black;
    grid-column: 1/5;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    word-break: break-all;
}

.calculator button{
    font-size: 20px;
    font-weight: 400px;
    border: none;
    background: rgb(221, 103, 103);
    cursor: pointer;
    transition: all 0.2 ease-in-out;
}

.calculator button:hover{
    background: plum;
}

.span-2{
    grid-column: span 2;
}
