body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin-top: 50px;
}

label, input, button, #generatedPassword {
  margin: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
