/*variables*/
:root {
    --bgColor: rgb(32, 31, 31);
    --textColor: rgb(255, 255, 255);
    --borderColor: rgb(102, 102, 102);
    --btnBlueBgColor: rgb(110, 171, 199);
    --btnBlueHover: rgb(66, 162, 206);
    --btnBlueColor: rgb(0, 22, 32);
    --btnGreenBgColor: rgb(16, 75, 21);
    --btnGreenHover: rgb(62, 133, 67);
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bgColor);
    width: 100%;
    height: 100vh;
}

/*container*/
.container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.title {
    color: var(--borderColor);
}

/*stopwatch*/
.stopwatch {
    border: 5px solid var(--borderColor);
    width: 250px;
    height: auto;
    min-height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    color: var(--textColor);
}

.stopwatch {
    font-size: 2.5rem;
    text-align: right;
    font-size: 1.5rem;
}

.minutes::after,
.seconds::after {
    content: " :";
}

/*buttons div*/
.buttons {
    display: flex;
    width: 100%;
    max-width: 250px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttons .btn {
    transition: all 0.3s ease-out;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttons .btn-green {
    border-radius: 50%;
    padding: 10px;
    color: var(--textColor);
    background-color: var(--btnGreenBgColor);
    display: none;
}

.buttons .btn-reset {
    position: absolute;
    left: 4%;
}

.buttons .btn-check {
    position: absolute;
    right: 4%;
}


.buttons .btn-reset:hover,
.buttons .btn-reset:active {
    background-color: var(--btnGreenHover);
}


.buttons .btn-blue {
    border-radius: 50%;
    padding: 25px;
    color: var(--btnBlueColor);
    background-color: var(--btnBlueBgColor);
}

.buttons .btn-blue:hover,
.buttons .btn-blue:active {
    background-color: var(--btnBlueHover);
}

.buttons .btn-pause {
    border-radius: 30px;
    width: 35%;
}

.btn-resume,
.btn-pause,
.btn-reset {
    display: none;
}